*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(/images/hacker.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i{
    margin-left: 15px;
    color: #999;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: #3c00a0;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 230px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}
.wrapper{
    height: 100vh;
}
.top-bar{
    width: 80%;
    height: 50px;
    margin: 20px auto;
}
.logo{
    width: 20%;
    float: left;
}
.logo h1{
    width: 150px;
    margin: 8px auto;
    cursor: pointer;
}
.menu-bar{
    width: 60%;
    float: left;
    text-align: center;
}
.menu-bar ul li{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #000;
    margin: 15px 20px;
    padding-top: 5px;
    cursor: pointer;
}
.active,.menu-bar ul li:hover{
    border-top: 2px solid #2c97e4;
}
.search-box{
    width: 20%;
    float: right;
}
.input-search{
    margin: 15px -60px;
    display: inline-flex;
    border-bottom: 1px solid #2c97e4;
}
.input-search input{
    float: right;
    padding: 5px;
    box-shadow: none;
    outline: none;
    border: 0;
    background: transparent;
}
.search-icon .fa{
    color: #2c97e4;
}
.hero{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
}
.hero-text{
    width: 50%;
    height: 100%;
    float: left;
}
.hero-text h1{
    margin: 180px 0px 50px 70px;
    line-height: 40px;
}
.hero-text p{
    padding-left: 70px;
    line-height: 25px;
}
.hero-banner{
    width: 49%;
    height: 100%;
    float: right;
    text-align: center;
}
.hero-banner img{
    width: 100%;
    margin: 70px auto;
    border-radius: 5px;
}
.wrapper small{
    margin-left: 210px;
}
.wrapper small b{
    margin-right: 50px;
}
.logout{
    width: 150px;
    height: 110px;
    right: 0px;
    top: -80px;
    position: absolute;
    background-image: linear-gradient(#2c97e4,#d7e6fa);
    border-radius: 0 0 60px 240px;
}
.logout a{
    font-size: 25px;
    color: #fff;
    bottom: 60px;
    right: 50px;
    cursor: pointer;
    position: absolute;
    text-decoration: none;
}
.social-icons{
    width: 200px;
    height: 490px;
    left: -250px;
    top: 70px;
    position: absolute;
    border-top-right-radius: 275px 309px;
    border-bottom-right-radius: 328px 627px;
    border-top-left-radius: 108px 345px;
    background-image: linear-gradient(#2c97e4,#d7e6fa);
}
.social-icons ul{
    display: block;
    color: #fff;
    margin-top: 100px;
    margin-left: 100px;
}
.social-icons ul li{
    list-style: none;
    margin-top: 30px;
}
.social-icons ul li .fa{
    font-size: 22px;
    cursor: pointer;
    z-index: 1;
}
.social-icons ul li a .fa{
    color: #fff;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.fa-heart-o{
    color: #f44336;
}
.cheatsheet-box{
    border: 1px solid #ccc;
    margin: 50px 150px;
    padding: 10px 20px;
}
.cheatsheet-box h3{
    text-align: center;
    padding: 22px;
}
.cheatsheet-form input, textarea{
    width: 90%;
    padding: 20px;
    margin: 15px 80px;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}